<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form action="/" method="post">
      <p>Enter your phrase:</p>
      <textarea name="user_text"></textarea>
      <button type="submit" id="Submit">Submit</button>
    </form>

  </body>
</html>
